% PROBLEMA ((( id_ )))
\begin{problem}[
    id = ((( id_ ))),
]

((( statement.latex )))

((* if choices *))
\begin{choices}
((* for choice in choices *))
    \item ((( choice.latex )))
((* endfor *))
\end{choices}
((* endif *))

\end{problem}
